/**** Colors ****/

$color-background: #F6F6F6;
$color-primary: #9356DC;
$color-secondary: #FCA311;
$color-green-light: #99E2D0;
$color-green-font: #008766;
$color-white: #FFFFFF;
$color-black: #101010;
$color-grey: #353535;
$color-grey-2: #EAEAEA;
$color-gradient-bright: #FF79DA;
$color-gradient-dark: $color-primary;

/**** x ****/

$font-main: "Roboto";
$font-ohmyfood: "Shrikhand";

/**** x ****/

@keyframes fade {
  0% {
      opacity: 1;
      display: block;
  }
  20% {
      display: none;
  }
  70%{
      display: none;
      opacity: 0;
  }
  100% {
      opacity: 0;
      display: none;
  }
}

@keyframes toTheTop {
    0% {
        position: absolute;
        top: 100%;
    }
    100% {
        position: absolute;
        top: 0%;
    }
}

@keyframes rotateCog {
    0% {
        transform: rotate(0);
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

.loader{
    height: 120%;
    top: 1px;
    transform: translateY(-1px);
	position: sticky;
	z-index: 100;
  background: black;
  width: 100vw;
  height: 100vh;
   animation: fade 3s normal forwards;
   animation-delay: 2s;
}

.cog {
  text-align: center;
  /*need media query here */
  padding-top: 35%;
}
.fa-cog {
    color: white;
    font-size: 2vw;
    opacity: 1;
    animation: rotateCog 3s normal forwards;
}
/**** x ****/


body {
	font: 100% $font-main;
	border: 1px solid black;
	margin: 0px;
	padding: 0px;
//	box-sizing: border-box;
}

.header {
	&__title {
		font: 100% $font-ohmyfood;
		font-size: 4rem;
		text-align: center;
		margin: 0;
		&Container {
		box-shadow: 0px 2px 15px rgba(0,0,0,0.35);
		margin-bottom: 7px;
		padding: 0;
		}
	}

	&__location {
	display: flex;
	justify-content: center;
	background-color: #EAEAEA;
	clip-path: margin-box;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
	margin-bottom: 8px;
	padding: 26px;
		&Logo {
		}
		&Text {
		}
	}
}

main {
    display:flex;
    flex-flow: column;
    justify-content: center;
    background-color: #F6F6F6;
}

.gradientButton {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    scale: 1;
    transition: all ease 0.8s;
	color: white;
	text-decoration: none;
	border-radius: 25px;
	padding: 15px;
	background: linear-gradient(5deg, #9356DC -13.81%, #FF79DA 107.89%, #FF79DA 137.92%);
}

.gradientButton:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    opacity: 0.9;
}

section {
}

.section {
	&__title {
	margin: 20px;
	}

	&__hero {
		&Title {
		font-weight: 500;
		margin: 20px;
		text-align: center;
		}
		&Description {
		font-weight: 300;
		margin: 20px;
		text-align: center;
		}
		&Button {
		text-align: center;
		margin: 50px;
		transition: transform ease 0.6s;
		}
		&Button:hover {
		transform: scale(1.2);
		}
	}

	&__steps {
	background-color: #FFFFFF;
		&Card {
			&Unit {
				margin: 25px 30px;
				transition: all ease 0.4s;
				&Content {
				    transition: box-shadow ease 1s;
				    background-color: #F6F6F6;
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                    border-radius: 25px;
					display: flex;
					&Number {
					border: 2px solid $color-primary;
					background-color: $color-primary;
					color: white;
					padding: 0.2rem 0.55rem;
					border-radius: 50%;
					transform: translateX(-15px);
					margin-right: 20px;
					}
					i {
					align-content:center;
					margin-right: 15px;
					color: $color-grey;
					opacity: 0.7;
					}
					&Text {
					margin: 15px;
					align-content: center;
					text-align: center;
					}
				}
				&Content:hover {
                    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
				}
				&Content:hover i {
				    color: $color-primary;
					opacity: 1;
				}
			}
			&Unit:hover {
			     transform: scale(1.02);
			}
		}
	}

	&__restaurants {
		&Card {
			display:flex;
			flex-flow: wrap;
			justify-content: center;
			&Unit {
			background-color: white;
			border-radius: 25px;
			object-fit: scale-down;
			width: 80vw;
			margin: 20px;
				&Content {
				display: flex;
				justify-content: space-between;
					&Image {
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
					object-fit: cover;
					width:100%;
					height: 100%;
						&Container {
						aspect-ratio: 2 / 1.2;
						}
					}
					&Text {
						&Title {
						}
						&Location {
						}
					}
					&Like {
					display: flex;
					flex-flow: column;
					justify-content: center;
					}
					&LikeLight {
				 color:grey;
  transform: translateY(10px) scaleY(1.1);
  margin-right: 50px;
					}
					&LikeSolid {
					transform: translateY(-9px) scaleY(1.1);
					}
					&LikeSolid a {
  background: -moz-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
                        &:hover, &:active {
                            visibility: visible;
                            opacity: 1;
                        }
					}
				}
			}
		}
	}
}

footer {
}

.footer {
    background-color: $color-grey;
    color: white;
    padding-bottom: 25px;
	&__title {
	padding-top: 15px;
	padding-left: 15px;
	font: 100% $font-ohmyfood;
	}
	&__element {
	padding-top: 2px;
	}
	&__element a {
	color: white;
	padding-left: 15px;
	}
	&__cooperate i {
	margin-left: 15px;
	}
	&__cooperate a {
	margin-left: 5px;
	position: absolute;
	left: 20px;
	}
}
