/**** Colors ****/
/**** Fonts ****/
/**** Media queries ****/
@media (width >= 768px) {
  .section__steps {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .section__stepsCard {
    display: flex;
    justify-content: center;
  }
  .section__restaurantsCard {
    display: flex;
    justify-content: center;
  }
  .section__restaurantsCardUnit {
    /**/
  }
}
/**** Keyframes ****/
@keyframes fade {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    display: none;
  }
  70% {
    display: none;
    opacity: 0;
    scale: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes setMenu {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
@keyframes toTheTop {
  0% {
    position: absolute;
    top: 100%;
  }
  100% {
    position: absolute;
    top: 0%;
  }
}
@keyframes destroy {
  0% {
    scale: 1;
    width: 100%;
    height: 120%;
  }
  100% {
    z-index: -100;
    scale: 0;
    width: 0%;
    height: 0%;
    padding-top: 0px;
    margin-top: 0px;
  }
}
@keyframes rotateCog {
  0% {
    transform: rotate(0);
    opacity: 1;
    scale: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    scale: 0;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120%;
  top: 1px;
  transform: translateY(-1px);
  position: sticky;
  z-index: 100;
  background: black;
  width: 100vw;
  height: 100vh;
  animation: fade 3s normal forwards;
  animation-delay: 2s;
  animation: destroy 0s normal forwards;
  animation-delay: 2s;
}
.loader i {
  position: absolute;
}

.cog {
  animation: destroy 0s normal 3s forwards;
  /*need media query here */
}

.fa-cog {
  text-align: center;
  color: white;
  font-size: 2vw;
  opacity: 1;
  animation: rotateCog 3s normal 0s forwards;
}

/**** x ****/
/**** x ****/
.menu_restaurant {
  transform: translateY(-40px);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

@media (width >= 768px) {
  .menu_restaurant {
    margin: auto;
    width: 80vw;
    max-width: 1055px;
    margin-bottom: -40px;
    background-color: #f6f6f6;
  }
  .whiteBackground {
    background-color: white;
  }
}
body {
  font: 100% "Roboto";
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Global header */
.header {
  /* Location is specific to homepage */
}
.header i {
  color: black;
}
.header__back {
  position: absolute;
  top: 22px;
  left: 4vw;
  color: black;
  font-size: 2rem;
}
.header__title {
  font: 100% "Shrikhand";
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 5px;
}
.header__titleContainer {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 7px;
  padding: 0;
}
.header__location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  clip-path: margin-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
  padding: 17px;
}
.header__locationLogo {
  padding-right: 10px;
}
.header__locationText {
  font-weight: 500;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #f6f6f6;
}

.gradientButton {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  scale: 1;
  transition: all ease 0.8s;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 15px;
  background: linear-gradient(5deg, #9356dc -13.81%, #ff79da 107.89%, #ff79da 137.92%);
}

.gradientButton:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

section {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
section .greenLine {
  width: 30px;
  height: 3px;
  padding: 0;
  margin: 0;
  background-color: #99e2d0;
}

.section {
  /* Restaurant menu headers */
  /* Homepage styling */
}
.section__header {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 24px;
  z-index: 2;
  padding-left: 10px;
}
.section__headerTitle {
  font: 100% "Shrikhand";
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 30px;
}
.section__headerLike {
  /* truc */
}
.section__subsection {
  display: flex;
  flex-flow: column;
  margin: 0px 20px;
  margin-top: 0px;
  padding-top: 0px;
}
.section__subsectionTitle {
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.section__article {
  transform: translateX(100vw);
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px 0px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  animation: 1s ease forwards setMenu;
}
.section__articleContent {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  margin-left: 15px;
  transition: all 1s ease;
  position: relative;
}
.section__articleContent:hover {
  padding-right: 0px;
  width: calc(100% - 75px);
}
.section__articleDescription {
  display: flex;
  flex-flow: column;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: -40px;
  padding-right: 20px;
  max-width: 80vw;
}
.section__articleDescriptionTitle {
  font-size: 1.2rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  padding-right: 20px;
}
.section__articleDescriptionSubtitle {
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  padding-right: 60px;
}
.section__articleRight {
  display: flex;
  overflow: visible;
  flex-shrink: 0;
  position: absolute;
  right: -90px;
}
.section__articleRightPrice {
  font-weight: 500;
  align-self: end;
  margin: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.section__articleRightSelect {
  align-self: center;
  display: flex;
  position: relative;
  padding: 20px;
  margin-right: 30px;
  overflow: visible;
  background-color: #99e2d0;
}
.section__articleRightSelect i {
  font-size: 1.2rem;
  color: white;
}
.section__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0px;
  align-self: start;
  margin-left: 40px;
}
.section__heroTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px;
  text-align: center;
}
.section__heroDescription {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px;
  text-align: center;
}
.section__heroButton {
  text-align: center;
  margin: 50px;
  transition: transform ease 0.6s;
}
.section__heroButton:hover {
  transform: scale(1.2);
}
.section__steps {
  max-width: 1040px;
  display: flex;
  flex-flow: column;
  margin: auto;
}
.section__stepsCard {
  align-self: start;
  margin-left: 30px;
}
.section__stepsCardUnit {
  margin: 25px 25px;
  transition: all ease 0.4s;
}
.section__stepsCardUnitContent {
  transition: box-shadow ease 1s;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
}
.section__stepsCardUnitContentNumber {
  font-size: 0.886rem;
  font-weight: 500;
  border: 2px solid #9356dc;
  background-color: #9356dc;
  color: white;
  align-self: center;
  padding: 0.2rem 0.45rem;
  max-height: 1rem;
  border-radius: 50%;
  transform: translateX(-15px);
  margin-right: 5px;
}
.section__stepsCardUnitContent i {
  align-content: center;
  margin-right: 5px;
  color: #353535;
  opacity: 0.7;
}
.section__stepsCardUnitContentText {
  font-weight: 500;
  margin: 25px;
  align-content: center;
  text-align: center;
}
.section__stepsCardUnitContent:hover {
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
.section__stepsCardUnitContent:hover i {
  color: #9356dc;
  opacity: 1;
}
.section__stepsCardUnit:hover {
  transform: scale(1.02);
}
.section__restaurants {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1040px;
}
.section__restaurantsCard {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.section__restaurantsCardUnit {
  background-color: white;
  border-radius: 25px;
  object-fit: scale-down;
  margin: 20px 40px;
}
.section__restaurantsCardUnitContent {
  display: flex;
  justify-content: space-between;
}
.section__restaurantsCardUnitContentImage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section__restaurantsCardUnitContentImageContainer {
  position: relative;
  aspect-ratio: 2.3/1;
}
.section__restaurantsCardUnitContentImageContainerText {
  background-color: #99e2d0;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 15px;
  width: 4rem;
  color: #008766;
  padding: 5px 13px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section__restaurantsCardUnitContentText {
  color: black;
  margin: 10px;
}
.section__restaurantsCardUnitContentTextTitle {
  margin: 5px;
  font-size: 1.125rem;
  font-weight: 700;
}
.section__restaurantsCardUnitContentTextLocation {
  margin: 5px;
  font-size: 1.063rem;
  font-weight: 300;
}
.section__restaurantsCardUnitContentLike {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.section__restaurantsCardUnitContentLikeLight {
  font-weight: 300;
  color: black;
  transform: translateY(5px) scaleY(1.1);
  margin-right: 25px;
}
.section__restaurantsCardUnitContentLikeSolid {
  transform: translateY(-14px) scaleY(1.1);
}
.section__restaurantsCardUnitContentLikeSolid a {
  background: -moz-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.section__restaurantsCardUnitContentLikeSolid a:hover, .section__restaurantsCardUnitContentLikeSolid a:active {
  visibility: visible;
  opacity: 1;
}
.section__restaurantImage {
  object-fit: cover;
  width: 100%;
}
.section__restaurantImageContainer {
  display: flex;
  z-index: -1;
  transform: translateY(-8px);
  margin-bottom: -8px;
  max-height: 400px;
}
.section__order {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: -13px 0px;
}
@media (width >= 768px) {
  .section__order {
    padding-bottom: 37px;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
}
.footer__title {
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 20px;
  font: 100% "Shrikhand";
}
.footer__element {
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 4px;
}
.footer__element a {
  display: flex;
  align-items: center;
  color: white;
}
.footer__cooperate p {
  position: absolute;
  left: 45px;
}
.footer__legalContact p {
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

@media (width >= 768px) {
  .header__back {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .header__title {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  .header__titleContainer {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .header__location {
    padding: 12px;
    margin: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .section__heroTitle {
    font-size: 2.5rem;
  }
  .section__header {
    padding-top: 15px;
    justify-content: center;
  }
  .section__headerTitle {
    margin-right: 30px;
  }
  .section__restaurantsCardUnitContentLike {
    transform: translateY(10px);
    scale: 1.4;
  }
  .section__subsection {
    max-width: 650px;
    margin: auto;
    padding: 0px 20px;
  }
  .menu_restaurant {
    justify-content: center;
  }
  .footer {
    display: flex;
    flex-flow: row-reverse;
    padding-top: 34px;
    padding-bottom: 15px;
  }
  .footer__title {
    margin: 0 30px;
    padding: 15px 0px;
    align-self: end;
  }
  .footer__cooperate, .footer__legalContact {
    display: flex;
    align-items: center;
  }
  .footer__cooperate {
    margin-right: 30px;
  }
  .footer__list {
    display: flex;
    margin-right: 50px;
  }
  .footer__cooperate i {
    padding-right: 15px;
  }
  .footer__cooperate p {
    position: relative;
    left: 0px;
  }
}
@media (width >= 1040px) {
  .section__restaurantsCardUnit {
    max-width: 440px;
  }
}
.section__subsection:nth-child(2) article:nth-of-type(1) {
  animation-delay: 0.2s;
}
.section__subsection:nth-child(2) article:nth-of-type(2) {
  animation-delay: 0.4s;
}
.section__subsection:nth-child(2) article:nth-of-type(3) {
  animation-delay: 0.6s;
}
.section__subsection:nth-child(2) article:nth-of-type(4) {
  animation-delay: 0.8s;
}

.section__subsection:nth-child(3) article:nth-of-type(1) {
  animation-delay: 0.3s;
}
.section__subsection:nth-child(3) article:nth-of-type(2) {
  animation-delay: 0.6s;
}
.section__subsection:nth-child(3) article:nth-of-type(3) {
  animation-delay: 0.9s;
}
.section__subsection:nth-child(3) article:nth-of-type(4) {
  animation-delay: 1.2s;
}

.section__subsection:nth-child(4) article:nth-of-type(1) {
  animation-delay: 0.4s;
}
.section__subsection:nth-child(4) article:nth-of-type(2) {
  animation-delay: 0.8s;
}
.section__subsection:nth-child(4) article:nth-of-type(3) {
  animation-delay: 1.2s;
}
.section__subsection:nth-child(4) article:nth-of-type(4) {
  animation-delay: 1.6s;
}

/*# sourceMappingURL=style.css.map */
