/**** Colors ****/
/**** Fonts ****/
/**** Media queries ****/
@media (width >= 768px) {
  .section__steps {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .section__stepsCard {
    display: flex;
    justify-content: center;
  }
  .section__restaurantsCard {
    display: flex;
    justify-content: center;
  }
  .section__restaurantsCardUnit {
    max-width: 440px;
  }
}
/**** Keyframes ****/
@keyframes fade {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    display: none;
  }
  70% {
    display: none;
    opacity: 0;
    scale: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes toTheTop {
  0% {
    position: absolute;
    top: 100%;
  }
  100% {
    position: absolute;
    top: 0%;
  }
}
@keyframes destroy {
  0% {
    scale: 1;
    width: 100%;
    height: 120%;
  }
  100% {
    z-index: -100;
    scale: 0;
    width: 0%;
    height: 0%;
    padding-top: 0px;
    margin-top: 0px;
  }
}
@keyframes rotateCog {
  0% {
    transform: rotate(0);
    opacity: 1;
    scale: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    scale: 0;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120%;
  top: 1px;
  transform: translateY(-1px);
  position: sticky;
  z-index: 100;
  background: black;
  width: 100vw;
  height: 100vh;
  animation: fade 3s normal forwards;
  animation-delay: 2s;
  animation: destroy 0s normal forwards;
  animation-delay: 2s;
}
.loader i {
  position: absolute;
}

.cog {
  animation: destroy 0s normal 3s forwards;
  /*need media query here */
}

.fa-cog {
  text-align: center;
  color: white;
  font-size: 2vw;
  opacity: 1;
  animation: rotateCog 3s normal 0s forwards;
}

/**** x ****/
/**** x ****/
.menu_restaurant {
  display: flex;
  flex-flow: column;
}

body {
  font: 100% "Roboto";
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.header i {
  color: black;
}
.header__back {
  position: absolute;
  top: 22px;
  left: 4vw;
  color: black;
  font-size: 2rem;
}
.header__title {
  font: 100% "Shrikhand";
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}
.header__titleContainer {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  margin-bottom: 7px;
  padding: 0;
}
.header__location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  clip-path: margin-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
  padding: 26px;
}
main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #F6F6F6;
}

.gradientButton {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  scale: 1;
  transition: all ease 0.8s;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 15px;
  background: linear-gradient(5deg, #9356DC -13.81%, #FF79DA 107.89%, #FF79DA 137.92%);
}

.gradientButton:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

section {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
section .greenLine {
  width: 30px;
  height: 3px;
  padding: 0;
  margin: 0;
  background-color: #99E2D0;
}

.section__header {
  /* truc */
  display: flex;
  justify-content: space-between;
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 24px;
  z-index: 2;
  padding-left: 10px;
}
.section__headerTitle {
  font: 100% "Shrikhand";
}
.section__headerLike {
  /* truc */
}
.section__subsection {
  display: flex;
  flex-flow: column;
  margin: 0px 20px;
  margin-top: 0px;
  padding-top: 0px;
  /* truc */
}
.section__subsectionTitle {
  /* truc */
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.section__article {
  /* truc */
  background: #FFFFFF;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
.section__articleContent {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  transition: padding-right ease 1s;
}
.section__articleContent:hover {
  padding-right: 40px;
}
.section__articleDescription {
  display: flex;
  flex-flow: column;
  text-overflow: ellipsis;
  overflow: hidden;
  /* truc */
}
.section__articleDescriptionTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
  /* truc */
}
.section__articleDescriptionSubtitle {
  /* truc */
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
}
.section__articleRight {
  display: flex;
  align-items: center;
  overflow: hidden; /* dunno yet*/
  transform: translateX(40px);
  /* truc */
}
.section__articleRightPrice {
  margin-right: 5px;
}
.section__articleRightSelect {
  display: flex;
  padding: 10px;
  background-color: #99E2D0;
  /* truc */
}
.section__articleRightSelect i {
  color: white;
  /* truc */
}
.section__title {
  margin: 20px;
}
.section__heroTitle {
  font-weight: 500;
  margin: 20px;
  text-align: center;
}
.section__heroDescription {
  font-weight: 300;
  margin: 20px;
  text-align: center;
}
.section__heroButton {
  text-align: center;
  margin: 50px;
  transition: transform ease 0.6s;
}
.section__heroButton:hover {
  transform: scale(1.2);
}
.section__steps {
  background-color: #FFFFFF;
}
.section__stepsCardUnit {
  margin: 25px 30px;
  transition: all ease 0.4s;
}
.section__stepsCardUnitContent {
  transition: box-shadow ease 1s;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
}
.section__stepsCardUnitContentNumber {
  border: 2px solid #9356DC;
  background-color: #9356DC;
  color: white;
  padding: 0.2rem 0.55rem;
  max-height: 1.4rem;
  border-radius: 50%;
  transform: translateX(-15px);
  margin-right: 5px;
}
.section__stepsCardUnitContent i {
  align-content: center;
  margin-right: 5px;
  color: #353535;
  opacity: 0.7;
}
.section__stepsCardUnitContentText {
  margin: 15px;
  align-content: center;
  text-align: center;
}
.section__stepsCardUnitContent:hover {
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}
.section__stepsCardUnitContent:hover i {
  color: #9356DC;
  opacity: 1;
}
.section__stepsCardUnit:hover {
  transform: scale(1.02);
}
.section__restaurantsCard {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.section__restaurantsCardUnit {
  background-color: white;
  border-radius: 25px;
  object-fit: scale-down;
  margin: 20px;
}
.section__restaurantsCardUnitContent {
  display: flex;
  justify-content: space-between;
}
.section__restaurantsCardUnitContentImage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section__restaurantsCardUnitContentImageContainer {
  position: relative;
  aspect-ratio: 2/1;
}
.section__restaurantsCardUnitContentImageContainerText {
  background-color: #99E2D0;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 15px;
  width: 4rem;
  color: #008766;
  padding: 5px 13px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section__restaurantsCardUnitContentText {
  color: black;
  margin: 10px;
}
.section__restaurantsCardUnitContentTextTitle {
  margin: 5px;
  font-size: 1.2rem;
}
.section__restaurantsCardUnitContentTextLocation {
  margin: 5px;
  font-size: 1rem;
  font-weight: 300;
}
.section__restaurantsCardUnitContentLike {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.section__restaurantsCardUnitContentLikeLight {
  color: grey;
  transform: translateY(10px) scaleY(1.1);
  margin-right: 50px;
}
.section__restaurantsCardUnitContentLikeSolid {
  transform: translateY(-9px) scaleY(1.1);
}
.section__restaurantsCardUnitContentLikeSolid a {
  background: -moz-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: visible;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.section__restaurantsCardUnitContentLikeSolid a:hover, .section__restaurantsCardUnitContentLikeSolid a:active {
  visibility: visible;
  opacity: 1;
}
.section__restaurantImage {
  object-fit: cover;
  width: 100%;
}
.section__restaurantImageContainer {
  display: flex;
  z-index: -1;
  transform: translateY(-8px);
  max-height: 400px;
}

.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 25px;
}
.footer__title {
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 15px;
  font: 100% "Shrikhand";
}
.footer__element {
  padding-top: 4px;
}
.footer__element a {
  color: white;
  padding-left: 15px;
}
.footer__cooperate i {
  margin-left: 15px;
}
.footer__cooperate a {
  margin-left: 5px;
  position: absolute;
  left: 20px;
}

/*# sourceMappingURL=style.css.map */
